.venv/
*.egg-info/
*_config.json
.env
.env.dev
.env.prod
*.secret
__pycache__/

# ignore all files in temp_files folder but keep the .gitkeep file so the directory exists
temp_files/*
!temp_files/.gitkeep


# DBT-specific files and directories
dbt_modules/
target/
logs/

# Ignore the DBT compiled SQL files
dbt/.sql
dbt/.user.yml

# Ignore the DBT artifacts
*.manifest.json
*.run_results.json

